---
title: Tags
layout: default
description: keep foolish
header-img: "img/3.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				<a href="#日常" title="日常" rel="4">日常</a>
				
				<a href="#比赛" title="比赛" rel="4">比赛</a>
				
				<a href="#补坑" title="补坑" rel="5">补坑</a>
				
				<a href="#瞎搞" title="瞎搞" rel="9">瞎搞</a>
				
				<a href="#动态规划" title="动态规划" rel="10">动态规划</a>
				
				<a href="#搜索" title="搜索" rel="2">搜索</a>
				
				<a href="#网络流" title="网络流" rel="13">网络流</a>
				
				<a href="#费用流" title="费用流" rel="2">费用流</a>
				
				<a href="#线段树" title="线段树" rel="4">线段树</a>
				
				<a href="#树链剖分" title="树链剖分" rel="7">树链剖分</a>
				
				<a href="#平衡树" title="平衡树" rel="4">平衡树</a>
				
				<a href="#分数规划" title="分数规划" rel="1">分数规划</a>
				
				<a href="#SPFA" title="SPFA" rel="1">SPFA</a>
				
				<a href="#二分答案" title="二分答案" rel="2">二分答案</a>
				
				<a href="#Link Cut Tree" title="Link Cut Tree" rel="2">Link Cut Tree</a>
				
				<a href="#树上差分" title="树上差分" rel="1">树上差分</a>
				
				<a href="#斜率优化" title="斜率优化" rel="3">斜率优化</a>
				
				<a href="#AC自动机" title="AC自动机" rel="1">AC自动机</a>
				
				<a href="#字符串" title="字符串" rel="3">字符串</a>
				
				<a href="#主席树" title="主席树" rel="1">主席树</a>
				
				<a href="#计算几何" title="计算几何" rel="1">计算几何</a>
				
				<a href="#整体二分" title="整体二分" rel="1">整体二分</a>
				
				<a href="#CDQ分治" title="CDQ分治" rel="2">CDQ分治</a>
				
				<a href="#Hash" title="Hash" rel="1">Hash</a>
				
				<a href="#树状数组" title="树状数组" rel="1">树状数组</a>
				
				<a href="#高精度" title="高精度" rel="1">高精度</a>
				
				<a href="#数论" title="数论" rel="3">数论</a>
				
				<a href="#莫比乌斯反演" title="莫比乌斯反演" rel="1">莫比乌斯反演</a>
				
				<a href="#线性基" title="线性基" rel="2">线性基</a>
				
				<a href="#群论" title="群论" rel="1">群论</a>
				
				<a href="#FFT" title="FFT" rel="2">FFT</a>
				
				<a href="#点分治" title="点分治" rel="2">点分治</a>
				
				<a href="#模拟" title="模拟" rel="1">模拟</a>
				
				<a href="#K-D Tree" title="K-D Tree" rel="2">K-D Tree</a>
				
				<a href="#2-SAT" title="2-SAT" rel="1">2-SAT</a>
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
